# files that stay in repo but get left out of release
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore

tests export-ignore
ruff.toml export-ignore
installer export-ignore

# use unix line endings for macos script
*.sh text eol=lf
